{% extends "base.html" %}

{% block title %}TODO List API{% endblock title %}

{% block content %}
<div class="container">

    <h2 class="text-center">TODO List API</h2>
    <ul class="list-group">
            <li class="list-group-item list-group-item-action"><a href="/admin">Painel administrador</a></li>
            <li class="list-group-item list-group-item-action"><a href="/api">Raiz da API</a></li>
            <li class="list-group-item list-group-item-action"><a href="/api/api-auth/login/?next=/api/">Login</a></li>
            
    </ul>
    <p class="text-body">Todas as rotas podem ser acessadas por autenticação de sessão ou token</p>
</div>
{% endblock %}